<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/logo//WD_Logo.svg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div id="home">
  <!--- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="../assets/logo/WD_LogoName.svg"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--- End Navigation -->

  <!--- Start Landing Page Image -->
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner"></div>
    </div>
  </div>
  <!--- End Landing Page Image -->

  <!--- Start Landing Page Caption -->
  <div class="caption center-block text-center">
    <div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
      <h1>Welcome To Nuno</h1>
    </div>

    <div class="os-animation" data-animation="bounceInUp" data-delay=".8s">
      <h3>Animated Bootstrap Theme</h3>
    </div>

    <div class="os-animation" data-animation="bounceInUp" data-delay="1s">
      <a class="btn btn-outline-light btn-lg" href="#features">Get Started</a>
    </div>
  </div>
  <!--- End Landing Page Caption -->

  <!--- Bouncing Down Arrow -->
  <a class="down-arrow" href="#features">
    <div class="arrow bounce d-none d-md-block">
      <i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
  </a>
</div>

<router-outlet></router-outlet>
